@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --desaturated-blue: hsl(229, 23%, 23%);
  --grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
  --color-white: hsl(0, 0%, 100%);
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  background-color: var(--dark-cyan);
  color: var(--desaturated-blue);
  line-height: 1.6;
  width: 100vw;
  overflow: hidden;
}

/* Card */

.card {
  width: min(87.2%, 22rem);
  margin: 10.75rem auto;
  background-color: var(--color-white);
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0.5rem 5rem hsla(229, 23%, 23%, 0.2);
  position: relative;
}

.card::before,
.card::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 980px;
  height: 980px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.card::before {
  bottom: 100%;
  right: 100%;
  transform: translate(20%, 20%);
  background-image: url(../images/bg-pattern-top.svg);
}

.card::after {
  top: 100%;
  left: 100%;
  transform: translate(-20%, -20%);
  background-image: url(../images/bg-pattern-bottom.svg);
}

.card-image {
  background-image: url(../images/bg-pattern-card.svg);
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative; */
  height: 140px;
  border-radius: 15px 15px 0 0;
}

.avatar {
  border-radius: 50%;
  border: 4px solid var(--color-white);
  margin: 5rem auto;
  position: relative;
  top: 0.5rem;
}

.details {
  margin-top: 3.25rem;
  padding: 1.5rem 0 1.75rem;
}

.name {
  font-size: 18px;
}

.age {
  font-weight: 400;
  color: var(--grayish-blue);
}

.location {
  font-size: 14px;
  color: var(--grayish-blue);
}

/* Stats */
.stats {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid hsla(0, 1%, 58%, 0.116);
  padding: 1.5rem;
}

.stats-number {
  font-weight: 700;
}

.stats-description {
  color: var(--grayish-blue);
  font-size: 12px;
}

/* Footer Section */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  font-weight: 700;
}
